<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

 
<mapper namespace="com.prography.appdev1.mapper.dataMapper">
 
    
    <select resultType = "com.prography.appdev1.vo.ChannelDramaDataVo" parameterType = "String" id ="dramaChannelCheck" >
    	select d_act, d_name,d_img,d_id from drama where channel = #{channelname};
    </select>
    
    <select resultType = "com.prography.appdev1.vo.ChannelDramaDataVo" parameterType = "int" id ="dramaCheck" >
    	select d_act, d_name,d_img,d_id from drama where d_id = #{dramaid};
    </select>
    
    <select resultType = "com.prography.appdev1.vo.DramaCategoryDataVo" parameterType = "int" id = "categoryDramaCheck">
    	select * from category;
    </select>
    
    
     <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "ProductCheck">
    	select * from product,drama where drama.d_id = #{dramaid} and product.d_id = drama.d_id;
    </select>
    
     <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "topList">
    	select * from product,drama where product.d_id = drama.d_id and product.d_id = #{dramaid} order by clickNum desc limit 10;
    </select>

    
    <insert parameterType = "com.prography.appdev1.vo.HeartCheckDataVo" id = "HeartCheck">
    	insert into mypage1 values(#{userid},#{productid});
    </insert>
    
    <delete parameterType = "com.prography.appdev1.vo.HeartCheckDataVo" id = "HeartRemove">
    	delete from mypage1 where user_id = #{userid} and p_id = #{productid};
    </delete>
    
    
     <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "cProductCheck">
    	select * from product,drama where drama.d_id = product.d_id and p_cat = #{categoryname};
    </select>
    
    <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "dramaCategoryProductCheck">
    	select * from product,drama where product.d_id = drama.d_id and product.d_id = #{dramaid} and p_cat = #{categoryname};
    </select>
    
     <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "dramaProductCheck">
    	select * from product,drama where product.d_id = drama.d_id and product.d_id = #{dramaid};
    </select>
    
    <select resultType = "com.prography.appdev1.vo.RandomDramaDataVo" id = "dramaList">
    	select * from drama order by rand() limit 5;
    </select>
    
    <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "actorDramaCheck">
    	select * from product,drama where product.d_id = drama.d_id and product.d_id = #{dramaid} and p_name like CONCAT('%', #{actorname}, '%');
    </select>
    
    <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "searchPname">
    	select * from product,drama where product.d_id = drama.d_id and p_name like CONCAT('%', #{searchname}, '%');
    </select>
    
    <select resultType = "com.prography.appdev1.vo.IdCheckDataVo" id = "idSearch">
    	select user_id from login where user_name= #{username} and user_email = #{useremail};
    </select>
    
    <select resultType = "com.prography.appdev1.vo.PwSearchDataVo" id = "pwSearch">
    	select user_id,user_pw from login where user_name= #{username} and user_email = #{useremail} and user_id = #{userid};
    </select>
    
     <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "searchPcat">
    	select * from product,drama where product.d_id = drama.d_id and p_cat= #{searchname};
    </select>
    
    <insert parameterType = "com.prography.appdev1.vo.SignUpDataVo" id="SignUpCheck">
    
    	insert into login values(#{userid},#{password},#{username},#{usermail});
    	
    </insert>
    
    <select resultType = "com.prography.appdev1.vo.UserMypageDataVo"  id="mypageCheck">
    
    	select * from product,mypage1,drama where drama.d_id = product.d_id and user_id = #{userid} and product.p_id = mypage1.p_id;
    	
    </select>
   
    <select resultType = "com.prography.appdev1.vo.IdCheckDataVo" id="IdCheck">
    
    	select user_id from login where user_id = #{userid};
    	
    </select>
    
    <select resultType = "com.prography.appdev1.vo.LoginDataVo"  id="UserCheck">
    
    	select * from login where user_id = #{userid} and user_pw = #{password};
    
    </select>
	
      <update parameterType = "int" id="increaseClickCount">
        update product set clickNum = clickNum + 1 where p_id = #{productid}; 
    
    </update>
    
    <select resultType = "com.prography.appdev1.vo.CategoryProductDataVo" id = "mainTopList">
    	select * from product,todayProduct,drama where product.d_id = drama.d_id and product.p_id = todayProduct.p_id;
    </select>
    
    
     <insert parameterType = "int" id="setTodayProduct">
        insert into todayProduct(p_id) select p_id from product order by rand() limit 40;
    </insert>
    
     <delete parameterType = "int" id="deleteTodayProduct">
        delete from todayProduct;
    </delete>
    
     <delete parameterType = "String" id="WithDrawCheck">
        delete from login where user_id = #{userid} and user_pw = #{password};
    </delete>
    
    
  
    
    
    
 
</mapper>

